.avatar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
}