.user-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .user-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .user-avatar {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-name {
    font-size: 22px;
    font-weight: bold;
  }
  
  .user-role {
    font-size: 18px;
    color: #777;
  }
  
  .user-description {
    font-size: 16px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 0 30%;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .avatar-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
  }