.navbar {
    background:#ffffff;
    padding: 10px;
    padding-right: 30px;
    position: sticky;
    top:0;
  }

.navbar-logo {
  height: 30px; /* Adjust as needed */
  rotate: -45deg;
  fill:#4ea1f3; }

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; 
  font-size: larger;
}
.navbar li {
  margin-right: 40px;}
.navbar a {
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .button{
  border-radius: 1%;
  color: #4ea1f3;
  outline: 1px solid #959595;
  outline-offset: 4px;
  padding: 4px
}