.register-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.register-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.register-form input,
.register-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}

.register-form p {
  text-align: center;
  margin-top: 20px;
}

.register-form h2 {
  text-align: center;
}

.select-container {
    position: relative;
    width: 100%;
}

select {
    width: 100%;
    padding: 8px 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select option[value=""][disabled] {
    display: none;
    color: gray;
}

/* Custom arrow */
.select-container:after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #888;
}

select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}

select:hover {
    border-color: #888;
}
select:focus {
    outline: none;
    border-color: #555;
}

.error {
  color: red;
  font-size: 0.75rem;
  display: block;
  text-align: center;
}

input,
select {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.select-container + .error {
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
}